// Place all the styles related to the Maintenance controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.maintenance {
  .illustration {
    @include position(relative);
    max-width: 461px;
    width: 100%;
    margin: 40px auto;

    svg {
      width: 100%;
    }
  }
}

footer {
  margin: 50px;
 .list-group {
   .list-group-item {
     width: 120px;

     a {
       border: none;
       color: $textColor;
       text-transform: uppercase;
     }
   }
 }
}
